$red: #d92f49;
$red-d: #a62035;
$grey: #666;
$grey-l: lighten($grey, 30%);

.boarding-pass-container {
	background-color: $red-d;
}

h1 {
	margin: 5px 0;
	font-size: 26px;
	color: $grey;
}
h2 {
	margin: 3px 0 0;
	font-size: 16px;
	font-weight: normal;
	color: $grey;
}

// container
// ******************************
.ticket {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 340px;
	transform: translate(-50%, -50%);
	color: $grey-l;
}

// top
// ******************************
.ticket-header {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 35px;
	border-radius: 10px 10px 0 0;
	color: white;
	background-color: $red;
}
.head-logo {
	font-size: 20px;
	font-weight: 700;
}
.head-flight {
	font-size: 11px;
	text-align: right;
	text-transform: uppercase;
}

// body
// ******************************
.ticket-body {
	position: relative;
	border-bottom: 1px dashed lighten($grey-l, 15%);
	background-color: beige;
	// notches
	// these are crusty and i hate them
	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 100%;
		width: 16px;
		height: 16px;
		border-radius: 8px;
		background-color: $red-d; // boo!
	}
	&:before {
		right: 100%;
		transform: translate(8px, -8px);
	}
	&:after {
		left: 100%;
		transform: translate(-8px, -8px);
	}
}

.locations,
.info,
.flight {
	display: flex;
	align-items: center;
}
.body-info {
	padding: 20px 35px;
}
.locations {
	padding: 20px 35px;
	border-bottom: 1px solid lighten($grey-l, 15%);
}

.loc-depart,
.loc-direction,
.loc-arrive {
	flex-grow: 1;
	flex-shrink: 0;
	text-transform: uppercase;
	text-align: center;
	//background-color: pink;
	h1 {
		//font-weight: 300;
		//color: $grey;
	}
}

.arrow	{
	position: relative;
	display: inline-block;
	width: 20px;
	height: 2px;
	background-color: $red;
	&:before,
	&:after {
		content: '';
		position: absolute;
		width: 15px;
		height: 2px;
		background-color: $red;
	}
	&:before {
		transform: rotate(45deg);
		transform-origin: 12px -5px;
	}
	&:after {
		transform: rotate(-45deg);
		transform-origin: 12px 7px;
	}
}

.info {
	//padding: 20px 35px;
	margin-bottom: 30px;
	justify-content: space-between;
	&-name,
	&-seat {
		text-transform: uppercase;
		h2 {
			text-transform: none;
		}
	}
	&-seat {
		text-align: right;
	}
}
.flight {
	//padding: 15px 35px 30px;
	justify-content: space-between;
	text-transform: uppercase;
	&-info,
	&-depart-date,
	&-depart-time {
		//flex: 1 0 33.33333%;
		//background-color: yellow;
		h2 {
			text-transform: none;
		}
	}
}


// bottom
// ******************************
.ticket-bottom {
	border-radius: 0 0 10px 10px;
	background-color: beige;
}

.bottom-info {
	padding: 20px 35px;
}

.depart {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	text-transform: uppercase;
	h2 {
		text-transform: none;
	}
	&-barcode { // sloppy af temp barcode!
		width: 100%;
		height: 45px;
		background: linear-gradient(
			to right,
			#000 0%, #000 20%,
			#fff 20%, #fff 40%,
			#000 40%, #000 50%,
			#fff 50%, #fff 70%,
			#000 70%, #000 90%,
			#fff 90%, #fff 100%
		);
		background-size: 7.5% 100%;
	}
}