@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  max-width: 100%;
  outline: 0;
}

button:focus {
  outline: 0;
}

.app {
  display: grid;
  grid-template-rows: repeat(9, auto);
  align-content: center;
}

.row {
  width: 95%;
  margin: 40px auto 40px auto;
  align-self: center;
}

h5 {
  margin-top: 0;
}

h2 {
  margin-bottom: 0;
}

/* HEADER */
.header {
  width: 100%;
  background-image: url('./assets/img/header.jpg');
  background-size: 100% 100%;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: flex-start;
  height: 80px;
}

.logo {
  color: #ffffff;
  margin-left: 30px;
  margin-top: 20px;
}

.nav-items {
  display: grid;
  grid-template-columns: repeat(7, auto);
  justify-content: stretch;
  grid-column-gap: 15px;
  margin-right: 15px;
}

.nav-items button {
  font-size: 0.8em;
  color: #ffffff;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.nav-items button:hover {
  border-bottom: 2px solid #ffffff;
}

.fast-booking {
  background-color: #ffffff;
  width: 440px;
  height: 475px;
  margin: 40px 0px 40px 70px;
  border-radius: 3px;
  padding: 15px 25px 15px 25px;
}

.fast-booking-label {
  font-size: 0.7em;
  font-weight: bold;
}

.fast-booking-check {
  width: 50%;
}

.fast-booking-input {
  width: 100%;
  height: 45px;
  font-size: 1.3em;
  text-align: start;
  margin-bottom: 10px;
  padding-left: 10px;
  border-radius: 3px;
  box-shadow: 0;
  border: 1px solid #e3e3e3;
}

.fast-booking-guests {
  width: 100%;
  height: 45px;
  background-color: #ffffff;
  font-size: 1.3em;
  text-align: start;
  margin-bottom: 10px;
  padding-left: 10px;
  color: #61615c;
  border-radius: 3px;
  border: 1px solid #e3e3e3;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
}

.fast-booking-search {
  background-color: #FF5A5F;
  color: #ffffff;
  border: 0;
  border-radius: 5px;
  width: 100px;
  height: 48px;
  font-size: 1em;
  font-weight: bold;
  position: relative;
  left: 290px;
}

.guests-dropdown {
  position: absolute;
  left: 0px;
  top: 45px;
  width: 100%;
  box-shadow: rgba(26, 26, 29, 0.3) 0px 15px 46px -10px !important;
  z-index: 3000;
  background-color: #ffffff;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-items: baseline;
  justify-content: stretch;
}

.guests-dropdown-item {
  height: 60px;
  padding: 15px 7px 0px 7px;
  font-weight: bold;
  font-size: 0.8em;
}

.guests-counter {
  position: relative;
  left: 60%;
  display: grid;
  width: 50%;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  margin-top: -25px;
}

.guests-chevron {
  position: relative;
  left: 75%;
}

.counter-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #008489;
  color: #008489;
  font-size: 1.3em;
  margin: 0 0;
  cursor: pointer;
  text-align: center;
}

.guests-count {
  width: 50px;
  font-size: 1.2em;
  text-align: center;
}

.guests-ages-info {
  font-weight: normal;
  font-size: 0.8em;
}

.guests-save-btn {
  width: 30px;
  border: none;
  position: relative;
  left: 85%;
  font-size: 0.8em;
  color: #008489;
  font-weight: bold;
  cursor: pointer;
}

/* EXPLORE */
.explore-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: stretch;
  align-items: center;
  grid-gap: 15px;
}

.explore-btn {
  height: 84px;
  border: 1px solid #e3e3e3;
  border-radius: 8px;
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px !important;
  font-weight: bold;
  overflow: hidden;
  margin-top: 15px;
}

.explore-btn img {
  width: 126px;
  max-width: 100%;
  height: auto;
}

/* AIRBNB PLUS */
.airbnb-plus-btn {
  background-image: url('./assets/img/airbnbPlus.jpg');
  height: 300px;
  background-size: 100% 100%;
  border-radius: 3px;
  display: grid;
  grid-template-columns: 160px;
  justify-content: center;
  align-items: center; 
  cursor: pointer;
}

.airbnb-plus-btn h6 {
  height: 46px;
  background-color: #ffffff;
  border-radius: 3px;
  font-size: 0.7em;
  font-weight: bold;
  text-align: center;
  padding-top: 12px;
}

/* ADVENTURES */
.adventure-btns {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0;
}

.adventure-btn {
  height: 424px;
  padding: 7px;
}

.adventure-btn img {
  height: 75%;
  border-radius: 5px;
  width: 100%;
}

.adventure-btn h4 {
  font-size: 0.9em;
  margin: 5px auto 5px auto;
}

.adventures a {
  color: #000000;
  font-weight: bold;
  margin-right: 10px;
}

/* PLACES */
.places-btns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.places-btn {
  height: 260px;
  padding: 7px;
  font-size: 0.8em;
  margin: 5px auto 5px auto;
  cursor: pointer;
}

.places-btn img {
  height: 75%;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
}

.places a {
  color: #000000;
  font-weight: bold;
  margin-right: 10px;
}

.places-basic-info {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between; 
}

.superhost-label {
  font-weight: bold;
  border: 1px solid #000000;
  border-radius: 3px;
  padding: 4px;
  display: inline-block;
  font-size: 0.9em;
}

.places-general-info {
  font-size: 1.2em;
}

/* EXPERIENCES */
.experiences-btns {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.experiences-btn {
  height: 460px;
  padding: 7px;
  cursor: pointer;
}

.experiences-btn img {
  height: 70%;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 5px;
}

.experiences h4 {
  font-size: 0.9em;
  margin: 5px auto 5px auto;
}

.experiences a {
  color: #000000;
  font-weight: bold;
  margin-right: 10px;
}

/* POPULAR DESTINATIONS */
.popular-destinations-btns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-top: 15px;
}

.popular-destinations-btn {
  height: 78px;
  cursor: pointer;
  font-size: 1.1em;
  margin-bottom: 20px;
}

.popular-destinations-btn div:first-child {
  font-weight: bold;
  margin-bottom: 5px;
}

.popular-destinations-btn div:last-child {
  font-size: 0.83em;
}

/* FEATURED DESTINATIONS */
.featured-destinations-btns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-bottom: 30px;
}

.featured-destinations-btn {
  padding: 7px;
  height: 347px;
}

.featured-destinations-btn img {
  height: 75%;
  border-radius: 5px;
  width: 100%;
}

.featured-destinations-place {
  font-size: 2.5em;
  font-weight: bold;
  position: relative;
  top: -150px;
  text-align: center;
  color: #ffffff;
}

.featured-destinations-stays {
  margin-top: -30px;
  color: rgb(145, 70, 105);
}

.featured-destinations h2 {
  margin-bottom: 0;
}

.featured-destinations a {
  color: #000000;
  font-weight: bold;
  margin-right: 10px;
}

/* FOOTER */
.footer {
  border-top: 1px solid #E3E3E3;
}

.footer-container {
  margin-top: 20px;
  position: relative;
  left: 17%;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}

.footer-bottom {
  border-top: 1px solid #E3E3E3;
  position: relative;
  left: 17%;
  width: 70%;
  text-align: start;
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin-top: 20px;
  justify-content: flex-start;
  grid-gap: 10px;
  padding-top: 10px;
}

.footer-copyright {
  padding-top: 10px;
}

/* Tablet view */
@media screen and (max-width: 1120px) {
  .explore-btn {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 3fr 2fr;
    height: 250px;
  }
  .explore-btn img {
    width: 100%;
    max-width: 100%;
    height: 120%;
  }

  .explore-btn div {
    padding-left: 20px;
  }

  .adventure-btns {
    grid-template-columns: repeat(3, 1fr);
  }

  .places-btns {
    grid-template-columns: repeat(3, 1fr);
  }

  .experiences-btns {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Smartphone view */
@media screen and (max-width: 800px) {

}